<header id="header" lang="en">


  <div class="listeds">
    <div class="top">

    <a href="/" class="logo" id="hf">bāzār</a>
    
    <script>
      const hotkeys1 = (e) => {
        let windowEvent1 = window.event ? event : e;

        if(windowEvent1.keyCode === 81 && windowEvent1.ctrlKey){
          const searchBar1 = document.querySelector('#hf');
          searchBar1.focus();
        }
      }
      document.onkeydown = hotkeys1;

    </script>
    
    <ul class="links">

      
      <li class="link"><a href="/order/price" id="hp">


    <a href="/" class="logo">bāzār</a>
    <ul class="links">



      <li class="link"><a href="/order/price">

      <img src="/img/icons/ic_add_list.png" alt="Items in cart">
       {{{__ "Productos"}}}&nbsp
      </a></li>

      
      <script>
        const hotkeys2 = (e) => {
          let windowEvent2 = window.event ? event : e;

          if(windowEvent2.keyCode === 51 && windowEvent2.ctrlKey){
            const searchBar2 = document.querySelector('#hp');
            searchBar2.focus();
          }
        }
        document.onkeyup = hotkeys2;
      </script>




      <li class="link">
        <a href="/cart" id="hc">
      <img src="/img/icons/ic_shopping_cart.png" alt="Items in cart">
       {{{__ "Carrito"}}} &nbsp
      </a></li>

      
      <script>
        const hotkeys3 = (e) => {
          let windowEvent3 = window.event ? event : e;

          if(windowEvent3.keyCode === 52 && windowEvent3.ctrlKey){
            const searchBar3 = document.querySelector('#hc');
            searchBar3.focus();
          }
        }
        document.onkeyup = hotkeys3;
      </script>
      


      <li class="link">
        <a href="/ayuda">

       {{{__ "Ayuda"}}}&nbsp
      </a></li>


      {{# if user.admin }}

      <li class="link"><a href="/adminPage">
      <img src="/img/icons/ic_account_circle.png" alt="Sign In">
       {{{__ "Administrador"}}}&nbsp
      </a></li>

      {{/if}}









      {{# if user }}

      <li class="link">


      <li class="link mx-3">


        <a href="/log-out">
        <img src="/img/icons/ic_arrow_down.png" alt="Sign In"> {{{__ "Cerrar sesión"}}}&nbsp
        </a>
      </li>

      <li class="link">
        <a>


      <li class="link mx-3">
        <a>

          <img src="/img/icons/ic_account_circle.png" alt="Sign In"> {{user.username}}
        </a>
      </li>
        {{ else }}

        <li class="link"><a href="/sign-in">
        <img src="/img/icons/ic_arrow_right.png" alt="Items in cart"> {{{__ "Iniciar sesión"}}}
        </a></li>



        {{/if}}
    </ul>
    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="/"><a href="/">{{{__ "Idioma"}}}</a></option>
      <option value="/"><a href="/">{{{__ "Español"}}}</a></option>
      <option value="en"><a href="/en">{{{__ "Inglés"}}}</a></option>
      <option value="fr"><a href="/fr">{{{__ "Francés"}}}</a></option>
    </select>
    <ul class="social-links">
      <li class="link"><img src="/img/icons/social/ic_facebook.png" alt="Facebook"></li>
      <li class="link"><img src="/img/icons/social/ic_twitter.png" alt="Twitter"></li>
      <li class="link"><img src="/img/icons/social/ic_instagram.png" alt="Instagram"></li>
      <li class="link"><img src="/img/icons/social/ic_youtube.png" alt="Youtube"></li>
    </ul>

    </div>



  </div>


</header>
