{{# if empty }}
<section class="productsCart">
    <aside>
    <div class="promo-code">
      <div class="texts">
        <p class="logo">CARRITO DE COMPRAS</p>
      </div>
    </div>
  </aside>
  

  <main>
    <nav class="navv">
      <ul class="filterss">
        <li class="filter"><a class="btn btn-success rounded-pill whiteText" href="/order/price"><label class="whiteText">Ir a productos</label></a></li>
      </ul>
    </nav>
  </main>
  </section>
  
{{ else }}
<section class="productsCart">
  


  <aside>
    <div class="promo-code">
      <div class="texts">
        <p class="logo">CARRITO DE COMPRAS</p>
      </div>
    </div>
  </aside>

  <main>
    <nav>
      <ul class="filters">
        <li class="filter"><a>Ordenar productos por precio</a></li>
        <li class="filter"><a href="/order/low-price">Más bajos</a></li>
        <li class="filter"><a href="/order/price">Más altos</a></li>
      </ul>

      <div class="search-box justify-content-end">
      <form action="#" method="get">
        <div class="inputs">
          <input type="submit" id="submit-search" value="">
          <input type="text" placeholder="Buscar" name="search-term">
        </div>
      </form>
      </div>
    </nav>


    
    <div class="products-list">

      <form >
      {{# each products}}
    


        
        <div class="product">

          <div class="labels pr-5">
              <img src="/img/products/{{this.img_url}}" alt="{{this.name}}" class="product-img">
          </div>
          
          <div class="labels">
                <p class="name">{{this.name}}</p>
          </div>
          
          <div class="labels px-0 mx-0">
            <p class="name">$ {{this.price}}</p>
          </div>

          <div class="labels">
            <div class="form-group row mt-4 px-0 ">
            <div class="col-6">
                <input class="form-control" type="number" value="1" id="example-number-input">
            </div>
            </div>
          </div>

          <div class="labels">
            <a class="btn btn-danger rounded-pill whiteText" href="/remove-from-cart/{{this.id}}">
            <label class="whiteText">Eliminar Producto</label></a>
          </div>

        </div>

      {{/each}}

      </form>
    </div>


     
    <nav class="navv">
      <ul class="filterss">
        <li class="filter"><a class="btn btn-danger rounded-pill whiteText" href="/clearCart"> <label class="whiteText">Limpiar carrito</label></a></li>
        <li class="filter"><a class="btn btn-success rounded-pill whiteText" href="/order/price"><label class="whiteText">Ir a productos</label></a></li>
        <li class="filter"><a class="btn btn-info rounded-pill whiteText">
        <label class="whiteText">Total a Pagar: $</label>
        {{# each value}}
        
        <label class="whiteText" id = "total">{{this.value}}</label>
        
         {{/each}}
        </a></li>


        {{# if user }}

          <li class="filter"><a>
          <div id="paypal-button"></div>
          </a></li>


      

        {{else}}
        
          <li class="filter"><a class="btn btn-primary rounded-pill whiteText" href="/sign-in"><label class="whiteText">Inicie sesión para realizar su pago</label></a></li>

        
        {{/if}}



        

      </ul>
    </nav>

  </main>

  <aside>
  </aside>

  
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'demo_sandbox_client_id',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'large',
      color: 'blue',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      var value = String(document.getElementById("total").innerHTML);
      return actions.payment.create({
        transactions: [{
          amount: {
            total: value,
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.location.href = "/successPurchase";
        window.alert('¡Gracias por su compra!');
        
      });
    }
  }, '#paypal-button');

</script>


</section>  

{{/if}}

<script src="/js/rating.js"></script>
